* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form{
  display:flex;
}

.favorites{
  background-color: gray;
  border-color: brown;
}

animelistli{

}

img{
  width:100px;
  padding: 20px;
  margin:10px;
}